html, body {
    height: 100%;
}

body {
    background-color: #e5e3df;
}

#body {
    height: 100%;
}

.container-fluid {
    padding-left:0px;
    padding-right:0px;
    height: 100%;
}

div.row2 {
    height: 100%;
}

div.col-md-9 {
    height: 100%;
}

.navbar-header {
    padding-left: 15px;
    padding-right: 15px;
}

.panel-heading {
    background: inherit;
}

#warning {
    color: red;
}

#map-container {
    top: 46px;
}

#filter-bar {
    position: relative;
    height: 40px;
}

#filter-bar li {
    float: left;
    padding: 9px;
    list-style-type: none;
}

#map {
    height:100%;
    padding-bottom: 100px;
}

#accordion {
    overflow-y: auto;
}

#sendDirections {
	display: none;
}

.icon-container {
	position: relative;
	width: 32px;
	height: 32px;
}

.icon-label {
    z-index:100;
	position: absolute;
	font-size:14px;
    left:11px;
    top:0px;
}

img.adp-marker {
	width: 32px !important;
	height: 32px !important;
}

.warnbox-content {
	font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.Museums {
    background-color: #6890fb;
}

.Landmarks {
    background-color: #e661ac;
}

.Activities {
    background-color: #fdf569;
}

.Nature {
    background-color: #00e64d;
}

.Restaurants {
    background-color: #fd7567;
}

.Origin {
    background-color: #8e67fd;
}

.Destination {
    background-color: #8e67fd;
}

.shell {
    border-radius: 3px;
}

.panel-heading {
    border-radius: 3px;
    cursor: pointer;
    height: 100%;
}

.checkbox-slider > input[type="checkbox"] {
    display: none;
}

.checkbox-slider > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.checkbox-slider > label::before {
    background: black;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
    width: 40px;
}

.checkbox-slider > label::after {
    background: #e5e3df;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.2s ease-in-out;
    width: 24px;
}

.checkbox-slider > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.checkbox-slider > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.x-button {
    text-decoration:none;
    position:relative;
    top:-35px;
    right:-15px;
    color:black;
}

.x-button:hover {
    text-decoration:none;
    color:black;
}
