body {
    background-color: #e5e3df;
}

.container-fluid {
    padding-left:0px;
    padding-right:0px;
}

.navbar-header {
    padding-left: 15px;
    padding-right: 15px;
}

#map-container {
    top: 46px;
}

#filter-bar {
    position: relative;
    height: 40px;
}

#filter-bar li {
    float: left;
    padding: 9px;
    list-style-type: none;
}

#map {
    height:800px;
}

#accordion {
    height: 706px;
    overflow: auto;
    
}

.Museums {
    background-color: #6890fb;
}
.Landmarks {
    background-color: #e661ac;
}
.Activities {
    background-color: #fdf569;
}
.Nature {
    background-color: #00e64d;
}
.Restaurants {
    background-color: #fd7567;
}

/*
button.accordion {
    color: black;
    cursor: pointer;
    padding: 9px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 10px;
}

button.accordion:hover {
    color: grey;
}*/
