<html>
<head>
	<title>Map - Mytinerary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	{% include "tour/navbar.html" %}
	<h4 style="margin:4%">&nbsp; Carleton College comps project created by Caleb Braun, Hailey Jones, Tristan Leigh, and Jonah Tuchow.</h4>
	<img style="margin:4%" src="http://imgs.xkcd.com/comics/travelling_salesman_problem.png"\>
</body>
</html>
