<html>
<head>
	<title>Map - Mytinerary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "tour/header.css" %}' />
</head>
<body>
	{% include "tour/navbar.html" %}
	<div style="margin:4%">
		<h2>Contact</h2>
		<h4>Please only contact us by snail mail.</h4>
		<br>
		<br>
		<h4>Caleb Braun</h4>
		<h4>300 North College St.</h4>
		<h4>Northfield, MN 55057</h4>
	</div>
</body>
</html>
