<!DOCTYPE HTML>

<html>
  <head>
    <title>Home - Mytinerary</title>
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="icon" href='{% static "tour/images/icon.png" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "tour/stylesheet.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "tour/header.css" %}' />
    <script src='{% static "tour/js/autocomplete.js" %}'></script>
    <script src='{% static "tour/js/rangevalues.js" %}'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
	{% include "tour/navbar.html" %}
	<div class="col-lg-4 col-lg-offset-4">
        <form action="/tour/map/" method="GET" class="preference-form" name="indexForm" onsubmit="return validateForm()">
			<div class="form-horizontal">
				<fieldset>
					<div class="form-group row">
						<div class="col-sm-3"></div>
						<div class="btn-group col-sm-9" data-toggle="buttons">
							<label class="btn btn-info active">
								<input type="radio" name="mode" id="start-to-end" value="start-to-end" autocomplete="off" checked> Start-to-End Mode
							</label>
							<label class="btn btn-info">
								<input type="radio" name="mode" id="exploratory" value="exploratory" autocomplete="off"> Exploratory Mode
							</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 control-label">City</label>
						<div class="col-sm-6">
							<select class="form-control" name="city" id="citySelect">
								<option value="London">London</option>
								<option value="Madrid">Madrid</option>
								<option value="Minneapolis">Minneapolis</option>
								<option value="New York">New York</option>
								<option value="San Francisco">San Francisco</option>
							</select>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="form-group row">
						<label class="col-sm-3 control-label">Start Location</label>
						<div class="col-sm-6">
                            <input  type="text"
                                style="width:100%"
                                class="form-control"
                                id="autocomplete1"
                                name="startDestination"
                                onFocus="geolocate()">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 control-label">End Location</label>
						<div class="col-sm-6">
                            <input  type="text"
                                style="width:100%"
                                class="form-control"
                                id="autocomplete2"
                                name="endDestination">
						</div>
					</div>
                <input type="hidden" id="startLngLat" name="startCoords">
                <input type="hidden" id="endLngLat" name="endCoords">
                    <div class="form-group row ">
						<label class="col-sm-3 control-label">Number of Stops</label>
						<div class="col-sm-6">
							<input type="range" class="form-control slide-input" id="points" name="points" min="0" max="8" step="1"
						oninput="setVal(this.value,'pointValBox')" onchange="setVal(this.value,'pointValBox')">
						</div>
						<div class="col-sm-2 range-val">
							<span id="pointValBox"></span>&nbsp; Stops
						</div>
					</div>
					<div class="form-group row ">
						<label class="col-sm-3 control-label">Directness</label>
						<div class="col-sm-6">
							<input type="range" class="form-control slide-input" id="miles" name="miles" min="0" max="12" step="3"
						oninput="setDirectness(this.value,'distanceValBox')" onchange="setDirectness(this.value,'distanceValBox')">
						</div>
						<div class="col-sm-2 range-val">
							<span id="distanceValBox"></span>&nbsp;
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="form-group row">

						<label class="col-sm-3 control-label">Museums</label>
						<div class="col-sm-6">
							<input type="range" id="museums" name="museums" min="0" max="4" step="1"
					oninput="setQuantifier(this.value,'museumValBox')"
					onchange="setQuantifier(this.value,'museumValBox')" class="form-control slide-input">
						</div>
						<div class="col-sm-2 range-val">
							<span id="museumValBox"></span>&nbsp;
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 control-label">Landmarks</label>
						<div class="col-sm-6">
							<input type="range" id="landmarks" name="landmarks" min="0" max="4" step="1"
					oninput="setQuantifier(this.value,'landmarkValBox')"
					onchange="setQuantifier(this.value,'landmarkValBox')" class="form-control slide-input">
						</div>
						<div class="col-sm-2 range-val">
							<span id="landmarkValBox"></span>&nbsp;
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 control-label">Activities</label>
						<div class="col-sm-6">
							<input type="range" id="activities" name="activities" min="0" max="4" step="1"
					oninput="setQuantifier(this.value,'activityValBox')"
					onchange="setQuantifier(this.value,'activityValBox')" class="form-control slide-input">
						</div>
						<div class="col-sm-2 range-val">
							<span id="activityValBox"></span>&nbsp;
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 control-label">Parks</label>
						<div class="col-sm-6">
							<input type="range" id="parks" name="parks" min="0" max="4" step="1"
					oninput="setQuantifier(this.value,'parkValBox')"
					onchange="setQuantifier(this.value,'parkValBox')" class="form-control slide-input">
						</div>
						<div class="col-sm-2 range-val">
							<div id="parkValBox"></div>&nbsp;
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-3"></div>
						<input type="submit" class="col-sm-6 btn btn-info" value="Make my Tour!">
					</div>
				</fieldset>
			</div>
		</form>
	</div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhEeD2Dgvw-AAxGR9_qL7P9JlTeO-WjvM&libraries=places&callback=initAutocomplete"
     async defer></script>
  </body>
</html>
