<!DOCTYPE html>
<html lang="en">
<head>
  <title>Google Maps API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
      function initialize() {

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setOptions( { suppressMarkers: true } );

        var map = new google.maps.Map(document.getElementById('map'));
        directionsDisplay.setMap(map);
       var locations = [
           {title: '{{origin.address}}', name: '{{origin.business_name}}', position: {lat: {{ origin.latitude|stringformat:"f" }}, lng: {{ origin.longitude|stringformat:"f" }}}},
           {% for poi in poi_list.all %}
               {title: '{{poi.address}}', name: '{{poi.business_name}}', position: {lat: {{ poi.latitude|stringformat:"f" }}, lng: {{ poi.longitude|stringformat:"f" }}}},
           {% endfor %}
           {title: '{{destination.address}}', name: '{{destination.business_name}}', position: {lat: {{ destination.latitude|stringformat:"f" }}, lng: {{ destination.longitude|stringformat:"f" }}}},
       ];
       var markers = [];
       var infoWindow = new google.maps.InfoWindow({content: 'cool place to visit'});
       for (var i = 0; i < locations.length; i++) {
           var position = locations[i].position;
           var title = locations[i].title;
           /*var icon = "";
           if ($.inArray('Museums', locations[i].categories) > -1):
              icon = "http://maps.google.com/mapfiles/ms/icons/blue-dot.png";*/
           //else if ($.inArray('Parks', locations[i].categories) > -1
           var marker = new google.maps.Marker({
               map: map,
               position: position,
               title: title,
               id: i,
               label: (i+1).toString(),
           });
           markers.push(marker);
           marker.addListener('click', function() {
               createInfoWindow(this, infoWindow);
           });
       }

        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }

      function createInfoWindow(marker, window) {
          if (window.marker != marker) {
              window.marker = marker;
              window.setContent('<div>' + marker.title + '</div>');
              window.open(map, marker);
          }
      }

     function calculateAndDisplayRoute(directionsService, directionsDisplay) {
       directionsService.route({
         origin: '{{origin.address}}',
         destination: '{{destination.address}}',
		  waypoints: [
             {% for poi in poi_list.all %}
               {location: '{{poi.address}}'},
             {% endfor %}
         ],
         travelMode: 'WALKING',
         optimizeWaypoints: true
       }, function(response, status) {
         if (status === 'OK') {
           directionsDisplay.setDirections(response);
         } else {
           window.alert('Directions request failed due to ' + status);
         }
       });
     }
    </script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "tour/map.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "tour/header.css" %}' />
</head>
<body>
    <div class="header">
        <ul>
          <li><a href="/tour/contact/" >Contact</a></li>
          <li><a href="/tour/about/">About Us</a></li>
          <li><a href="/tour/">Home</a></li>
          <li><a href="/tour/">Mytinerary</a></li>
        </ul>
    </div>
    <div id="body">
        <div id="map-container">
            <div id="filter-bar">
                <ul>
                    <li><input type="checkbox" name="Museums" value="Museums">Museums<br></li>
                    <li><input type="checkbox" name="Parks" value="Parks">Parks<br></li>
                    <li><input type="checkbox" name="Landmarks" value="Landmarks">Landmarks<br></li>
                    <li><input type="checkbox" name="Activities" value="Activities">Activities<br></li>
                    <li><input type="checkbox" name="Restaurants" value="Restaurants">Restaurants<br></li>
                    <li><input type="checkbox" name="Bars" value="Bars">Bars<br></li>
                </ul>
            </div>
            <div class="row">
                <div id="map"></div>
            </div>
            <div id="buttons"></div>
        </div>
        <div id="sidebar">
            <h2>My Tour</h2>
            <p>Total Distance: ((something dynamic))</p>
            <button class="accordion">1: {{origin.business_name}}</button>
            <div class="panel"><p>{{poi.summary}}</p></div>
            {% for poi in poi_list.all %}
              <button class="accordion">{{ forloop.counter|add:"1" }}: {{poi.business_name}}</button>
              <div class="panel"><p>{{poi.picture_url}}</p></div>
            {% endfor %}
            <button class="accordion">10: {{destination.business_name}}</button>
            <div class="panel"><p>{{poi.summary}}</p></div>
        </div>
    </div>
    
    <script>
    var accordion = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < accordion.length; i++) {
        accordion[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
      }
    }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhEeD2Dgvw-AAxGR9_qL7P9JlTeO-WjvM&callback=initialize">
    </script>
<!--
    <p>You want to start at: {{start_choice}}. </p>
    <p>You want to end at: {{end_choice}}. </p>
    <p>You want to walk: {{slider_val}} kilometers. </p>
    <p>Here are some places you could go: </p>
    <ul>
        {% for poi in poi_list.all %}
            <li>{{poi.address}}</li>
        {% endfor %}
    </ul>
    <a href="/tour/">New tour?</a>
-->
</body>

</html>
