<!DOCTYPE html>
<html lang="en">
<head>
  <title>Map - Mytinerary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   {% load static %}
  <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
  <link rel="icon" href='{% static "tour/images/icon.png" %}' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
      var markers = [];
      var radiusMarkers = [];
      var popWindow;
      var map;
      var popRadius;
      var directionsService;
      var directionsDisplay;

      function initialize() {
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;
        directionsDisplay.setOptions( { suppressMarkers: true } );
        popWindow  = new google.maps.InfoWindow();
        map = new google.maps.Map(document.getElementById('map'));
        directionsDisplay.setMap(map);
        var locations = [
           {title: '{{origin.address}}',
            name: '{{origin.business_name}}',
            id: '{{origin.id}}',
            category: '{{origin.category}}',
            position: {lat: {{ origin.latitude|stringformat:"f" }},
                       lng: {{ origin.longitude|stringformat:"f" }}},
            rating: '{{origin.num_stars}}'},
           {% for poi in poi_list %}
               {title: '{{poi.address}}',
                name: '{{poi.business_name}}',
                id: '{{poi.id}}',
                category: '{{poi.category}}',
                position: {lat: {{ poi.latitude|stringformat:"f" }},
                           lng: {{ poi.longitude|stringformat:"f" }}},
                rating: '{{poi.num_stars}}'},
           {% endfor %}
           {title: '{{destination.address}}',
            name: '{{destination.business_name}}',
            id: '{{destination.id}}',
            category: '{{destination.category}}',
            position: {lat: {{ destination.latitude|stringformat:"f" }},
                       lng: {{ destination.longitude|stringformat:"f" }}},
            rating: '{{destination.num_stars}}'},
       ];
       popRadius = new google.maps.Circle({
            strokeWeight: 0,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            radius: 500,
            visible: false,
       });
       for (var i = 0; i < locations.length; i++) {
           var position = locations[i].position;
           var name = locations[i].name;
           var category = locations[i].category;
           var rating = locations[i].rating;
           var icon = ""
           switch (category) {
                case "Museums":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/blue.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                case "Landmarks":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/pink.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                case "Activities":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/yellow.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                case "Nature":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/green.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                case "Restaurants":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/red.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                default:
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/purple.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
           }
           //else if ($.inArray('Parks', locations[i].category) > -1
           var marker = new google.maps.Marker({
               map: map,
               position: position,
               name: name,
               rating: rating,
               id: i,
               poi_id: locations[i].id,
               label: (i+1).toString(),
               icon: icon,
           });
           markers.push(marker);
           marker.addListener('click', function() {
               createPopRadius(this);
               createInfoWindow(this, null);
               findNearbyPOIs(this);
           });

       }
        var waypoints = [
                {% for poi in poi_list %}
                {location: new google.maps.LatLng({lat:{{poi.latitude|stringformat:"f"}}, lng:{{poi.longitude|stringformat:"f"}}})},
                {% endfor %}
        ];
        updateRoute(waypoints);
      }

      function findNearbyPOIs(marker) {
            $.ajax({
                url : "/tour/pop_radius/",
                contentType: "application/json; charset=utf-8",
                type : 'GET',
                data : {'name' : marker.name,
                        'id' : marker.poi_id},
                dataType : 'json',
                success : function(json) {
				    plotNearbyPois(json["nearby_pois"], marker);
                },
                cache : false,
                error : function(xhr, errmsg, err) {
                    for (var i=0; i<radiusMarkers.length; i++) {
                        marker = radiusMarkers[i];
                        marker.setMap(null);
                    }
                    console.log(errmsg);
                    console.log(xhr.status + " " + xhr.responseText);
                }
            });
      }

        function plotNearbyPois(nearby_pois, centerMarker) {
            // Get rid of markers from previous radius
            for (var i=0; i<radiusMarkers.length; i++) {
                marker = radiusMarkers[i];
                marker.setMap(null);
            }
            radiusMarkers.length = 0;

            // Only adds nearby POIs that aren't already in route
            for (var i=0; i<nearby_pois.length; i++) {
                var poiOutsideRoute = true;
                for (var j=0; j<markers.length; j++) {
                    if (markers[j].poi_id == nearby_pois[i].poi_id) {
                        poiOutsideRoute = false;
                    }
                }
                if (poiOutsideRoute) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: {lat: parseFloat(nearby_pois[i].latitude),
                                   lng: parseFloat(nearby_pois[i].longitude)},
                        name: nearby_pois[i].name,
                        poi_id: nearby_pois[i].poi_id,
                        id: radiusMarkers.length,
                        rating: nearby_pois[i].rating
                    });
                    marker.addListener('click', function() {
                        createInfoWindow(this, centerMarker);
                    });
                    radiusMarkers.push(marker);
                }
            }
        }

      function createPopRadius(marker) {
            popRadius.setCenter(marker.position);
            popRadius.setVisible(true);
      }

      // Called when a poi in the pop radius is clicked
      // function createNearbyInfoWindow(marker, centerMarker) {
      //     var content = '<p>' + marker.name + '</p><p>Yelp rating: ' + marker.rating +
      //           '</p><div class="btn btn-primary btn-sm"onclick="addPoint(' + marker.id + ', ' + centerMarker.id + ');">Add</div>' +
      //           '<div class="btn btn-link btn-sm"  onclick="setInfoWindowContent('+ marker.id +
      //           ');">More Info...</div>';
      //     if (popWindow.marker != marker) {
      //         popWindow.marker = marker;
      //         popWindow.setContent(content);
      //         popWindow.open(map, marker);
      //     }
      // }

      // Called when path POI marker is clicked
      function createInfoWindow(marker, centerMarker) {
          var content;

          // There is no centerMarker if the marker is on our path
          if (centerMarker == null) {
            content = '<p>' + marker.name + '</p><p>Yelp rating: ' + marker.rating +
                  '</p><div class="btn btn-primary btn-sm"  onclick="removePoint(' + marker.id + ');">' +
                  '<span class="glyphicon glyphicon-trash"></span></div>' +
                  '<div class="btn btn-link btn-sm"  onclick="setInfoWindowContent('+ marker.id + ', null' +
                  ');">More Info...</div>';
          } else {
            content = '<p>' + marker.name + '</p><p>Yelp rating: ' + marker.rating +
                  '</p><div class="btn btn-primary btn-sm"onclick="addPoint(' + marker.id + ', ' + centerMarker.id + ');">Add</div>' +
                  '<div class="btn btn-link btn-sm"  onclick="setInfoWindowContent('+ marker.id + ', ' + centerMarker.id +
                  ');">More Info...</div>';
          }

          popWindow.marker = marker;
          popWindow.setContent(content);
          popWindow.open(map, marker);
      }

      //Called when user clicks on "More Info..." button in info window
      function setInfoWindowContent(markerId, centerMarkerId) {
          var content;
          if (!centerMarkerId) {
            var marker = markers[markerId];
            content = '<p>' + marker.name + '</p><p>Yelp rating: ' + marker.rating +
                  '</p><img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=' +
                marker.getPosition().lat() + ',' + marker.getPosition().lng() +
                '&key=AIzaSyAhEeD2Dgvw-AAxGR9_qL7P9JlTeO-WjvM" >' +
                  '<br/><div class="btn btn-primary btn-sm"  onclick="removePoint(' + marker.id +
                  ');"><span class="glyphicon glyphicon-trash"></span></div>' +
                  '<div class="btn btn-link btn-sm" onclick="resetInfoWindow('+ marker.id + ', null' +
                  ');">Less Info</div>';
          } else {
            var marker = radiusMarkers[markerId];
            content = '<p>' + marker.name + '</p><p>Yelp rating: ' + marker.rating +
                  '</p><img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=' +
                marker.getPosition().lat() + ',' + marker.getPosition().lng() +
                '&key=AIzaSyAhEeD2Dgvw-AAxGR9_qL7P9JlTeO-WjvM" >' +
                  '<br/></p><div class="btn btn-primary btn-sm"onclick="addPoint(' + marker.id + ', ' + centerMarkerId + ');">Add</div>' +
                  '<div class="btn btn-link btn-sm" onclick="resetInfoWindow('+ marker.id + ', ' + centerMarkerId +
                  ');">Less Info</div>';
          }
          popWindow.setContent(content);
      }

      function resetInfoWindow(markerId, centerMarkerId) {
          console.log(markerId);
          console.log(centerMarkerId);
          if (centerMarkerId == null) {
            var marker = markers[markerId];
            createInfoWindow(marker, null);
          } else {
            var centerMarker = markers[centerMarkerId];
            createInfoWindow(radiusMarkers[markerId], centerMarker);
          }
      }

    function removePoint(markerId) {
        markers[markerId].setMap(null);
        markers.splice(markerId, 1);
        for (var i = markerId; i < markers.length; i++) {
            markers[i].id--;
            markers[i].label--;
            markers[i].setMap(null)
            markers[i].setMap(map);
        }
        waypoints = [];

        for (var i = 0; i < markers.length; i++) {
            waypoints.push({location: markers[i].getPosition()});
        }

        updateRoute(waypoints);

        for (var i=0; i<radiusMarkers.length; i++) {
            marker = radiusMarkers[i];
            marker.setMap(null);
        }

        popRadius.setVisible(false);

    }

    function addPoint(newMarkerId, markerId) {
        var newMarker = new google.maps.Marker({
               map: map,
               position: radiusMarkers[newMarkerId].position,
               name: radiusMarkers[newMarkerId].name,
               rating: radiusMarkers[newMarkerId].rating,
               id: markerId,
               poi_id: radiusMarkers[newMarkerId].poi_id,
               label: (markerId+1).toString(),
//               icon: radiusMarkers[newMarkerId].icon,
           });
          newMarker.addListener('click', function() {
              createPopRadius(this);
              createInfoWindow(this, null);
              findNearbyPOIs(this);
          });
        markers.splice(markerId+1, 0, newMarker);

        for (var i = markerId+1; i < markers.length; i++) {
            markers[i].id++;
            markers[i].label = i + 1;
            markers[i].setMap(null)
            markers[i].setMap(map);
        }

        waypoints = [];
        for (var i = 0; i < markers.length; i++) {
            waypoints.push({location: markers[i].getPosition()});
        }


        updateRoute(waypoints);

        for (var i=0; i<radiusMarkers.length; i++) {
            marker = radiusMarkers[i];
            marker.setMap(null);
        }
        radiusMarkers.length = 0;
        popRadius.setVisible(false);

    }
    function updateRoute(waypoints) {
        directionsService.route({
            origin: new google.maps.LatLng({lat:{{origin.latitude|stringformat:"f"}}, lng:{{origin.longitude|stringformat:"f"}}}),
            destination: new google.maps.LatLng({lat:{{destination.latitude|stringformat:"f"}}, lng:{{destination.longitude|stringformat:"f"}}}),
            waypoints: waypoints,
            travelMode: 'WALKING',
            optimizeWaypoints: false //we may want to enable this
         }, function(response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
    </script>
    <link rel="stylesheet" type="text/css" href='{% static "tour/map.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "tour/header.css" %}' />
</head>
<body>
<!--    <h3>{{city}}</h3>-->
    <div id="body">
    {% include "tour/navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="filter-bar">
                <ul>
                    <li class="Museums"><input type="checkbox" name="Museums" value="Museums">Museums<br></li>
                    <li class="Landmarks"><input type="checkbox" name="Landmarks" value="Landmarks">Landmarks<br></li>
                    <li class="Activities"><input type="checkbox" name="Activities" value="Activities">Activities<br></li>
                    <li class="Nature"><input type="checkbox" name="Parks" value="Parks">Parks<br></li>
                    <li class="Restaurants"><input type="checkbox" name="Restaurants" value="Restaurants">Restaurants<br></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="map"></div>
            </div>
            <div class="col-md-3">
                <h2>My Tour</h2>
                <p>Total Distance: <span id="distance"></span></p>
                <div id="sidebar">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOrig">
                          <h4 class="panel-title {{poi.category}}">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOrig" aria-expanded="false" aria-controls="collapseOrig">
                              Origin
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOrig" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOrig">
                          <div class="panel-body">
                            ...
                          </div>
                        </div>
                      </div>
                      {% for poi in poi_list %}
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading{{forloop.counter|add:'1'}}">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter|add:'1'}}" aria-expanded="false" aria-controls="collapse{{forloop.counter|add:'1'}}">
                                  {{ forloop.counter|add:"1" }}: {{poi.business_name}}
                                </a>
                              </h4>
                            </div>
                            <div id="collapse{{forloop.counter|add:'1'}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{forloop.counter|add:'1'}}">
                              <div class="panel-body">
                                {{poi.summary}}
                              </div>
                            </div>
                          </div>
                      {% endfor %}
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingDest">
                          <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDest" aria-expanded="false" aria-controls="collapseDest">
                              Destination
                            </a>
                          </h4>
                        </div>
                        <div id="collapseDest" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDest">
                          <div class="panel-body">
                            ...
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhEeD2Dgvw-AAxGR9_qL7P9JlTeO-WjvM&callback=initialize">
    </script>
</body>

</html>
