<!DOCTYPE html>
<html lang="en">
<head>
  <title>Map - Mytinerary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
      var markers = [];
      var windows = {};
      function initialize() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var geocoder = new google.maps.Geocoder;
        directionsDisplay.setOptions( { suppressMarkers: true } );

        var map = new google.maps.Map(document.getElementById('map'));
        directionsDisplay.setMap(map);
       var locations = [
           {title: '{{origin.address}}',
            name: '{{origin.business_name}}',
            category: '{{origin.category}}',
            position: {lat: {{ origin.latitude|stringformat:"f" }},
                       lng: {{ origin.longitude|stringformat:"f" }}},
            rating: '{{origin.num_stars}}'},
           {% for poi in poi_list %}
               {title: '{{poi.address}}',
                name: '{{poi.business_name}}',
                category: '{{poi.category}}',
                position: {lat: {{ poi.latitude|stringformat:"f" }},
                           lng: {{ poi.longitude|stringformat:"f" }}},
                rating: '{{poi.num_stars}}'},
           {% endfor %}
           {title: '{{destination.address}}',
            name: '{{destination.business_name}}',
            category: '{{destination.category}}',
            position: {lat: {{ destination.latitude|stringformat:"f" }},
                       lng: {{ destination.longitude|stringformat:"f" }}},
            rating: '{{destination.num_stars}}'},
       ];
       var infoWindow = new google.maps.InfoWindow();
       for (var i = 0; i < locations.length; i++) {
           var position = locations[i].position;
           var name = locations[i].name;
           var category = locations[i].category;
           var rating = locations[i].rating;
           var icon = ""
           switch (category) {
                case "Museums":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/blue.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                case "Landmarks":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/pink.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                case "Activities":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/yellow.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                case "Nature":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/green.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                case "Restaurants":
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/red.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
                default:
                   icon = {url: "https://maps.gstatic.com/mapfiles/ms2/micons/purple.png",
                           scaledSize: new google.maps.Size(45, 45)};
                   break;
           }
           //else if ($.inArray('Parks', locations[i].category) > -1
           var marker = new google.maps.Marker({
               map: map,
               position: position,
               name: name,
               rating: rating,
               id: i,
               label: (i+1).toString(),
               icon: icon,
           });
           markers.push(marker);
           marker.addListener('click', function() {
               createInfoWindow(this, infoWindow);
           });

       }
        calculateAndDisplayRoute(geocoder, directionsService, directionsDisplay);
//        var directions = directionsDisplay.getDirections()
//        var total = 0;
//        var myroute = directions.routes[0];
//        for (var i = 0; i < myroute.legs.length; i++) {
//          total += myroute.legs[i].distance.value;
//        }
//        total = total / 1000;
//        document.getElementById('distance').innerHTML = total + ' km';
      }

      function createInfoWindow(marker, window) {
          var content = '<p>' + marker.name + '</p><p>Yelp rating: ' + marker.rating +
                '</p><div class="btn btn-primary btn-sm"  onclick="markers[' + marker.id +
                '].setMap(null);"><span class="glyphicon glyphicon-trash"></span></div>' +
                '<div class="btn btn-link btn-sm"  onclick="setInfoWindowContent('+ marker.id +');">More Info...</div>';
          if (window.marker != marker) {
              window.marker = marker;
              window.setContent(content);
              window.open(map, marker);
              windows[window.marker.id] = window;
          }
      }

      function setInfoWindowContent(markerId) {
          var marker = markers[markerId];
          var content = '<p>' + marker.name + '</p><p>Yelp rating: ' + marker.rating +
                '</p><img src="https://maps.googleapis.com/maps/api/streetview?size=600x300&location=' +
              marker.position['lat'] + ',' + marker.position['lng'] +
              '&key=AIzaSyAhEeD2Dgvw-AAxGR9_qL7P9JlTeO-WjvM" >' +
                '<br/><div class="btn btn-primary btn-sm"  onclick="markers[' + marker.id +
                '].setMap(null);"><span class="glyphicon glyphicon-trash"></span></div>' +
                '<div class="btn btn-link btn-sm" onclick="resetInfoWindow('+ marker.id +
                ');">Less Info</div>';
          windows[markerId].setContent(content);
      }

      function resetInfoWindow(markerId) {
          var marker = markers[markerId];
          var content = '<p>' + marker.name + '</p><p>Yelp rating: ' + marker.rating +
                '</p><div class="btn btn-primary btn-sm"  onclick="markers[' + marker.id +
                '].setMap(null);"><span class="glyphicon glyphicon-trash"></span></div>' +
                '<div class="btn btn-link btn-sm"  onclick="setInfoWindowContent('+ marker.id +');">More Info...</div>';
          windows[markerId].setContent(content);
      }

      function calculateAndDisplayRoute(geocoder, directionsService, directionsDisplay) {
      //  waypoints = [];
      //  count = 0;
      //    {% for poi in poi_list %}
      //           var latlng = {lat: {{ poi.latitude|stringformat:"f" }}, lng: {{ poi.longitude|stringformat:"f" }}};
      //           geocoder.geocode({'location':latlng}, function(results, status) {
      //               if (status === 'OK') {
      //                   if (results[0]) {
      //                       waypoints.push({location: results[0].formatted_address});
      //                       console.log('pushed {{poi.business_name}}' + results[0].formatted_address);
      //                   } else {
      //                   console.log('no address found for latlng');
      //                   waypoints.push({location: '{{poi.address}}'});
      //               }}
      //               else {
      //                   console.log('geocoder error: ' + status);
      //                   waypoints.push({location: '{{poi.address}}'});
      //               }
      //           });
      //     count = count + 1;
      //     console.log(count);
      //    {% endfor %}
      //    console.log(waypoints);

         directionsService.route({
            origin: new google.maps.LatLng({lat:{{origin.latitude|stringformat:"f"}}, lng:{{origin.longitude|stringformat:"f"}}}),
            destination: new google.maps.LatLng({lat:{{destination.latitude|stringformat:"f"}}, lng:{{destination.longitude|stringformat:"f"}}}),
            waypoints: [
                {% for poi in poi_list %}
                {location: new google.maps.LatLng({lat:{{poi.latitude|stringformat:"f"}}, lng:{{poi.longitude|stringformat:"f"}}})},
                {% endfor %}
            ],
            travelMode: 'WALKING',
            optimizeWaypoints: false //we may want to enable this
         }, function(response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
    </script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static "tour/map.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "tour/header.css" %}' />
</head>
<body>
<!--    <h3>{{city}}</h3>-->
    <div id="body">
    {% include "tour/navbar.html" %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="filter-bar">
                <ul>
                    <li><input type="checkbox" name="Museums" value="Museums">Museums<br></li>
                    <li><input type="checkbox" name="Landmarks" value="Landmarks">Landmarks<br></li>
                    <li><input type="checkbox" name="Activities" value="Activities">Activities<br></li>
                    <li><input type="checkbox" name="Parks" value="Parks">Parks<br></li>
                    <li><input type="checkbox" name="Restaurants" value="Restaurants">Restaurants<br></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div id="map"></div>
            </div>
            <div class="col-md-3">
                <h2>My Tour</h2>
                <p>Total Distance: <span id="distance"></span></p>
                <div id="sidebar">
                    <button class="accordion {{origin.category}}">1: {{origin.business_name}}</button>
                    <div class="panel">
                        <p>{{origin.summary}}</p>
                    </div>
                    {% for poi in poi_list %}
                        <button class="accordion {{poi.category}}">{{ forloop.counter|add:"1" }}: {{poi.business_name}}</button>
                        <div class="panel">
                            <p>{{poi.summary}}</p>
                        </div>
                    {% endfor %}
                    <button class="accordion {{destination.category}}">10: {{destination.business_name}}</button>
                    <div class="panel">
                        <p>{{destination.summary}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    var accordion = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < accordion.length; i++) {
        accordion[i].onclick = function(){
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
      }
    }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhEeD2Dgvw-AAxGR9_qL7P9JlTeO-WjvM&callback=initialize">
    </script>
</body>

</html>
