<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            {% load static %}
            <!-- The following logo was made using https://logomakr.com/ -->
			<a class="navbar-brand" href="/tour/"><img src='{% static "tour/images/whiteLogo.png" %}' style="height:150%;width:auto;position:relative;top:-5px;margin-left:10px;"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/tour/">Home</a></li>
				<li><a href="/tour/about/">About</a></li>
				<li><a href="/tour/contact/">Contact Us</a></li>
			</ul>
		</div>
	</div>
</nav>
