body {
    background-image: url("images/londonBlur.jpg");
}

.formTitle {
  padding:4px;
}


.slide-input {
	background-color:black;
}

input[type="range"],
input[type="range"]:focus
{   
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.range-val {
	position: relative;
	top:7px;
}

.preference-form {
	position: relative;
    top: 20px;
}

.btn-info.active.focus {
    outline: none
}

// Learning CSS be like: http://imgur.com/8zJlsAg
